# P    - PV prefix
# M    - CSMotor Name
# PORT - Asyn port name
# ADDR - Asyn addr for axis

#Homing routine names

record(stringin,"$(P)$(M)_HMRNAM")
{
	field(DESC, "$(M) Homing routine")
	field(DTYP, "asynOctetRead")
	field(INP,  "@asyn($(PORT),$(ADDR))HMRNAM")
    field(SCAN, "I/O Intr")
}
